{% extends 'home.html' %}

{% block content %}
{% load static %}
    
<div class="text-center py-10">
      <h1 class="text-5xl font-extrabold text-blue-900 mb-2">GROUP <span class="text-orange-500">2</span></h1>
      <div class="w-24 h-1 bg-gradient-to-r from-blue-900 to-orange-500 mx-auto mb-6 rounded-full"></div>
      <p class="text-2xl font-bold text-violet-900">Our Team Members</p>
    </div>

  <div class="container mx-auto flex flex-row mt-2 justify-around flex-wrap  py-8">

    <div class="flex flex-col items-center md:mb-0 mb-10">
      <img src="{% static 'img/aqeel.png' %}" alt="Aqeel" class="w-64 h-64 rounded-full object-cover" />
      <p class="mt-4 text-lg font-semibold">Aqeel Fazlemawla Faslah</p>
      <p class=" text-md font-medium">Information System 2023</p>
      <div class="bg-teal-500 w-32 h-1 mt-4"></div>
      <p class="mt-4 text-sm w-80 text-center"><strong>Role:</strong> Personalized Learning Path Recommendation</p>
      <p class="text-sm w-80 text-center">Responsible for the views, models, javascript, form, and commands. Also for the template and styling using css. </p>
      <p class="text-sm w-80 text-center"><strong>Use Case:</strong> Recommend optimal learning activities based on student profiles and past performance.

      </p>
      <p class="text-sm w-80 text-center"><strong>Target User:</strong> Students, Lecturers
      </p>
    </div>

    <div class="flex flex-col items-center md:mb-0 mb-10">
      <img src="{% static 'img/kaffah.png' %}" alt="Kaffah" class="w-64 h-64 rounded-full object-cover" />
      <p class="mt-4 text-lg font-semibold">Kaffah An Nas</p>
      <p class=" text-md font-medium ">Information System 2023</p>
      <div class="bg-orange-500 w-32 h-1 mt-4"></div>
      <p class="mt-4 text-sm w-80 text-center"><strong>Role:</strong> Clustering Student Learning Behavior</p>
      <p class="text-sm w-80 text-center">Responsible for the views, models, form, and commands and styling using CSS. </p>
      <p class="text-sm w-80 text-center"><strong>Use Case:</strong> To help lecturers better understand student engagement patterns and adapt teaching strategies accordingly.
      </p>
      <p class="text-sm w-80 text-center"><strong>Target User:</strong> Lecturers
      </p>
    </div>

    <div class="flex flex-col items-center md:mb-0 mb-10">
      <img src="{% static 'img/rich.png' %}" alt="Rich" class="w-64 h-64 rounded-full object-cover" />
      <p class="mt-4 text-lg font-semibold ">Rich Edrick Anthonios</p>
      <p class=" text-md font-medium">Information System 2023</p>
      <div class="bg-rose-600 w-32 h-1 mt-4"></div>
      <p class="mt-4 text-sm w-80 text-center"><strong>Role:</strong> Predictiion of Student's Optimal Schedule</p>
      <p class="text-sm w-80 text-center">Responsible for the views, models, javascript, form, and commands. Also for the template and styling using Tailwindcss. </p>
      <p class="text-sm w-80 text-center"><strong>Use Case:</strong> Determine the most optimal time for students where lecturers will conduct activities.
      </p>
      <p class="text-sm w-80 text-center"><strong>Target User:</strong> Lecturers
      </p>

    </div>
    
  </div>
  {% endblock %}
